.search-form {
    margin: 10px 0 0;
    padding: 20px 100px 0 100px;
}
.search-form label{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
}
.search-form input {
    width: 100%;
    margin: 10px 0;
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #f55263;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;

}
.search-form button {
    border: none;
    border-radius: 3px;
    background-color: #3c3c3c;
    padding: 5px 20px;
    margin: 20px 10px;
    cursor: pointer;
    color: #ffffff;
}
.search-form button:hover {
    background-color: #f55263;
}
.search-form .search-btn {
    padding: 10px 60px;
    background: #f55263;
    float: right;
    margin-right: 0;
    
}
.btn-row label {
    font-size: 16px;
}
.btn-row {
    width: 100%;
    margin-bottom: 20px;
}
.search-form button.active {
    background-color: #f55263;
}