.movie-item {
    height: 450px;
    width: 300px;
    float: left;
    margin: 29px;
    
}
.movie-item img {
    width: 100%;
    height: 85%;
    cursor: pointer;
}
.movie-item img:hover {
    filter: brightness(70%);
}
.movie-item span{
    text-transform: uppercase;
    color: gray;
}
.release-year {
    border: 1px solid gray;
    float: right;
    padding: 1px 3px;
    margin: 5px 10px ;

}
.show-title {
    margin: 10px 5px;
    display: inline-block;
    width: 70%;
}
.category{
    color: gray;
    margin: 5px 5px ;
}