.logo {
    color: #f55263;
    font-size: 20px;
    padding: 20px 100px 0 100px;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/background.png);

    background-color: red;
}
.search-btn{
    border: none;
    background-color: #E9E8E8;
    color: #f55263;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 30px;
    float: right;
    cursor: pointer;
    display: block;
}
.search-btn:hover {
    color: #E9E8E8;
    background-color: #f55263;
}